@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background-color: #0f172a; /* Tailwind slate-900 fallback */
  color: #ffffff; /* default text color */
}
 